* {
	margin: 0;
	padding: 0;
}

/* ----- FONTS ----- */
@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf");
}

/* ----- GENERIC STYLES ----- */
body {
	background-color: #ecf0f1;
	color: #333;
	font-family: "Montserrat", "sans-serif";
	font-size: 1.1em;
	line-height: 2em;
}

h1 {
	font-size: 2em;
	margin: 20px 0;
}
h2 {
	font-size: 1.5em;
	margin: 15px 0;
}
h3 {
	font-size: 1.2em;
	margin: 10px 0;
}
h4 {
	font-size: 1em;
	margin: 10px 0;
}
h5 {
	font-size: 0.8em;
	margin: 10px 0;
}
h6 {
	font-size: 0.7em;
	margin: 10px 0;
}

a {
	color: #1f88dd;
}
a:hover {
	text-decoration: none;
}

ol,
ul {
	margin: 5px 0 5px 30px
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

/* ----- HEADER ----- */
header a {
	color: #34495e;
	text-decoration: none;
}

header h1,
header h2 {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

header nav {
	display: inline-block;
	float: right;
}

header.main-header {
	background: #123;
	color: #fff;
}
header.main-header h1 {
	padding: 10px 50px;
	text-transform: uppercase;
}
header.main-header li {
	border-bottom: 5px solid #ff5a14;
}
header.main-header li:first-child {
	border-radius: 0 0 0 5px;
}
header.main-header li:active {
	background: #34495e;
	border-bottom: 5px solid #ffa47e;
}
header.main-header li:hover a {
	color: #ff5a14;
}
header.main-header a {
	color: #fff;
}
header.main-header nav a {
	display: block;
	padding: 10px 20px;
}

header.main-header nav .notification-nb {
	color: #ff5a14;
}
header.main-header .icon {
	margin: 0 0 5px;
}

/* ----- NAV ----- */
nav ul {
	margin: 0;
}
nav ul li {
	display: inline-block;
	font-size: 0.9em;
}

nav.collapse li {
	background: #55A8EE;
}
nav.collapse li:first-child {
	border-radius: 5px 0 0 5px;
}
nav.collapse li:last-child {
	border-radius: 0 5px 5px 0;
}
nav.collapse li:hover {
	background: #1f88dd;
}
nav.collapse li:active,
nav.collapse li.active {
	background: #2980b9;
}
nav.collapse li.active {
	box-shadow: 0 2px 3px #333 inset;
}

nav.collapse li a {
	display: block;
	padding: 5px 30px;
	color: #fff;
	text-decoration: none;
}

nav.nav-profile {
	margin: 20px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
}

/* ----- MAIN CONTENT ----- */
.main-content {
	min-height: 300px;
	width: 90%;
	max-width: 700px;
	margin: 50px auto;
}

/* ----- ACTIVITY BOX ----- */
.activity-box {
	display: table;
	width: 90%;
	margin: 50px auto;
	table-layout: fixed;
}

.activity-box > nav,
.activity-box section {
	display: table-cell;
	vertical-align: top;
}

.activity-box > nav {
	width: 200px;
	border-right: 1px dotted #bdc3c7;
	background: #ecf0f1;
}

.activity-box > nav li {
	display: block;
	margin: 50px 5px 50px 0;
	text-align: right;
	border-radius: 5px;
}

.activity-box > nav li:hover {
	background: #1f88dd;
	color: #fff;
}
.activity-box > nav li.active a,
.activity-box > nav li:hover a {
	color: #fff;
}
.activity-box > nav li:active,
.activity-box > nav li.active {
	position: relative;
	background: #2980b9;
}
.activity-box > nav li.active:after {
	content: "";
	position: absolute;
	top: 0; right: 0;
	display: block;
	margin: 0 -10px 0 0;
	width: 35px;
	height: 35px;
	background: #2980b9;
	transform: rotate(45deg);
	z-index: -1;
}

.activity-box > nav li a {
	display: block;
	padding: 0 10px 0 0;
	color: #34495e;
	text-decoration: none;
}

.activity-box section {
	padding: 0 0 0 50px;
}

.activity-box article {
	margin: 0 0 50px;
}

.activity-box header a:hover {
	color: #ff5a14;;
}
.activity-box header nav {
	display: block;
	float: none;
	text-align: right;
}
.activity-box header nav a {
	margin: 0 0 0 50px;
}
.activity-box header .icon {
	margin: 0 0 5px;
}
.activity-box .date {
	text-align: right;
	font-size: 0.8em;
	font-style: italic;
}

.activity-box article p {
	color: #666;
	font-size: 0.9em;
}

/* ----- ICONS -----*/
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	line-height: 16px;
	background: center center no-repeat;
}
	.icon.i_notification {
		background-image: url("icons/notification.svg");
	}
	.icon.i_logout {
		background-image: url("icons/logout.svg");
	}
	.icon.i_closed {
		background-image: url("icons/closed.svg");
	}
	.icon.i_karma {
		background-image: url("icons/karma.svg");
	}

/* ----- MEDIA ----- */
.media img {
	display: block;
	margin: 0 10px 0 0;
	float: left;
}
.media span {
	display: block;
	line-height: 1.3em;
}


/* ----- FOOTER ----- */
footer {
	color: #888;
	font-size: 0.7em;
}

footer a {
	color: #34495e;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}

body > footer {
	padding: 10px;
	border-top: 1px solid #bdc3c7;
	text-align: center;
}

/* ----- RESPONSIVE DESIGN ----- */
@media(max-width: 600px) {
	header nav {
		display: block;
		float: none;
		text-align: right;
	}

	nav.nav-profile {
		width: 90%;
		margin: 10px auto;
	}
	nav.collapse li {
		display: block;
	}
	nav.collapse li:first-child {
		border-radius: 5px 5px 0 0;
	}
	nav.collapse li:last-child {
		border-radius: 0 0 5px 5px;
	}

	.activity-box > nav,
	.activity-box section {
		display: block;
	}

	.activity-box > nav {
		width: 100%;
		border-right: none;
	}
	.activity-box > nav li {
		margin: 10px 0;
		text-align: center;
	}
	.activity-box > nav li.active:after {
		display: none;
	}

	.activity-box section {
		padding: 0;
	}
	.activity-box header nav {
		text-align: left;
	}
	.activity-box header nav li {
		display: block;
	}
	.activity-box header nav a {
		display: block;
		margin: 0;
		padding: 5px 0;
	}
}
